<template>
  <Auth>
    <div>
      <h1>Product</h1>
    </div>
  </Auth>
</template>

<script>
import Auth from '../components/Auth.vue'
import { getProduct } from '../service/product'
export default {
  async mounted () {
    const product = await getProduct()
    console.log(product)
  },
  components: {
    Auth
  }
}
</script>

<style></style>
